{% extends '../page.html' %}

{% block content %}

<nav class="navbar navbar-default">
  <form class="navbar-form navbar-left" action="/admin/" method="get" role="search">
    <div class="form-group">
      <label>Search by URL</label>
      <input type="text" class="form-input" name="q" placeholder="http://..." />
    </div>
    <input type="submit" class="btn btn-default" value="Search" />
  </form>
  <a href="/admin/add/" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-plus"></span> Add</a>
</nav>

<h1>Are You Sure?</h1>

<div class="alert alert-warning" role="alert">
  Are you sure you want to delete the page at <code>{{ url }}</code>?
</div>

<form action="/admin/delete/{{url}}" method="post">
  <input type="submit" class="btn btn-primary" name="response" value="No, Nevermind" />
  <input type="submit" class="btn btn-danger" name="response" value="Yes, Delete" />
</form>
{% endblock %}
