{% extends '../page.html' %}

{% block content %}

<nav class="navbar navbar-default">
  <form class="navbar-form navbar-left" action="/admin/" method="get" role="search">
    <div class="form-group">
      <label>Search by URL</label>
      <input type="text" class="form-input" name="q" placeholder="http://..." />
    </div>
    <input type="submit" class="btn btn-default" value="Search" />
  </form>
  <a href="/admin/add/" class="btn btn-default navbar-btn{% if not url %} active{% endif %}"><span class="glyphicon glyphicon-plus"></span> Add</a>
</nav>

{% if url %}
  <div class="row">
    <h1 class="col-md-8">Edit Page</h1>
    <div class="col-md-4 text-right">
      <a href="/admin/delete/{{ url }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete Page</a>
    </div>
  </div>
{% else %}
  <h1>Add Page</h1>
{% endif %}

<form action="{% if url %}/admin/edit/{{url}}{% else %}/admin/add/{% endif %}" method="post">
  <div class="form-group">
    <label>Page URL</label>
    <input type="text" {% if url %}readonly {% endif %}class="form-control" name="url" value="{{url}}" />
  </div>
  {% if variants %}
    {% for variant in variants %}
      <div class="well well-lg">
        <div class="row">
          <div class="col-md-9">
            <input type="hidden" name="id[{{variant.id}}]" value="{{variant.id}}" />
            <input type="hidden" name="version[{{variant.id}}]" value="{{variant.version}}" />
            <div class="form-group">
              <label>Headline</label>
              <input type="text" class="form-control" name="headline[{{variant.id}}]" value="{{variant.headline}}" />
            </div>
            <div class="form-group">
              <label>Text</label>
              <textarea class="form-control" name="text[{{variant.id}}]">{{variant.text}}</textarea>
            </div>
            <div class="form-group">
              <label>Image URL</label>
              <input type="text" class="form-control" name="image_url[{{variant.id}}]" value="{{variant.image_url}}"/>
            </div>
          </div>
          <div class="col-md-3">
            {% if variant.id != 'new' %}
              <div>Metrics:
                <table border="1">
                  <tr><td>successes</td><td>actions</td><td>trials</td></tr>
                  <tr><td>{{variant.success_count}}</td><td>{{variant.action_count}}</td><td>{{variant.trial_count}}</td></tr>
                </table>
              </div>
              <div class="from-group">
                <label>ID: {{variant.id}}</label>
                <a class="btn btn-primary" href="https://developers.facebook.com/tools/debug/og/object/?q={{ encodeURIComponent(variant.shareUrl) }}">Refresh Facebook Cache</a>
              </div>
              <div class="from-group">
                <label>Share URL</label>
                <input type="text" readonly class="form-control" value="{{ variant.shareUrl }}" />
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label><input type="checkbox" name="delete[{{variant.id}}]" value="{{variant.id}}" /> Delete</label>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <input type="submit" class="btn btn-primary" value="Save" />
</form>
{% endblock %}
