{% extends '../page.html' %}

{% block content %}
<nav class="navbar navbar-default">
  <form class="navbar-form navbar-left" action="/admin/" method="get" role="search">
    <div class="form-group">
      <label>Search by URL</label>
      <input type="text" class="form-input" name="q" placeholder="http://..." />
    </div>
    <input type="submit" class="btn btn-default" value="Search" />
  </form>
  <a href="/admin/add/" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-plus"></span> Add</a>
</nav>

<h1>Admin</h1>

{% if results.length > 0 %}
  <div class="list-group">
  {% for result in results %}
    <a href="/admin/edit/{{result.url}}" class="list-group-item">{{result.url}}</a>
  {% endfor %}
  </div>
{% else %}
  <div class="alert alert-info">No results found.</div>
{% endif %}
{% endblock %}
