{% extends '../page.html' %}

{% block head %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript">
    var trialVariants = [{% for i in variants %}"{{i.id}}",{%endfor%} 'aftercomma_discard' ]
    trialVariants.pop();
    var numVariants = trialVariants.length;

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(function() {
      var jsonQuery = '';
      if (/simulate=1/.test(document.location.search)) {
        jsonQuery = '?simulate=1'
      }
      jQuery.getJSON('/admin/reportjson/stats/' + trialVariants.join('-') + jsonQuery).then(
        function(response) {
          drawChart({'title': 'Percent of shares that lead to conversions'},
                    response, 'convertRate');
          drawChart({'title': 'Percent of shares that lead to clicks/views'},
                    response, 'clickRate');
          drawChart({'title': 'Variant selection rates for conversions'},
                    response, 'convertSelectionRate');
          drawChart({'title': 'Variant selection rates for clicks'},
                    response, 'clickSelectionRate');
          drawChart({'title': 'Total converted shares per trial'},
                    response, 'totalConverts');

          if (/simulate=1/.test(document.location.search)) {
            drawChart($('#chart_div_simulation').get(0), response, 'simulated');
          }
        });
    });

    function drawChart(targetElement, response, yKey, maxValue) {
      if (!targetElement.tagName) {
        //if targetElement is an object to create dom
        var parent = $(targetElement.parent || '#reports');
        var wrapper = $('<div class="goog-chart" />');
        if (targetElement.title) {
          wrapper.append('<h4>'+targetElement.title+'</h4>');
        }
        var chartdiv = $('<div />').appendTo(wrapper);
        wrapper.appendTo(parent);
        targetElement = chartdiv.get(0);
      }
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');

      var id_to_col = {};
      $(trialVariants).each(function(i) {
        data.addColumn('number', "Variant "+ this);
        id_to_col['id_'+this] = i;
      });

        for (var tv=0; tv<numVariants; tv++) {
          // We have to iterate over the variants rather than
          // dumping them in a single order, so LineChart can realize it needs to 'start at the beginning'
          response.results.forEach(function(row) {
            var create_row = []
            create_row[0] = new Date(row.time);
            if (row.trial != trialVariants[tv]) {
              return; //this will do weird time-codey things
            }
            for (i=1; i <= numVariants; i++) {
              var key = 'id_' + row.trial
              if (i-1 === id_to_col[key]) {
                if (row[yKey] === null) {
                  return; //skip row
                }
                create_row[i] = row[yKey];
              } else {
                create_row[i] = null;
              }
            }
            data.addRow(create_row);
          });
        }
        new google.visualization.LineChart(targetElement).draw(data, {
          curveType: "function",
          width: 700, height: 400,
          vAxis: {maxValue: maxValue || 1,
                  viewWindow:{
                    max: maxValue|| 1,
                    min: 0
                  }
                 },
          chartArea: {
            width: '70%', 
            height: '80%',
            left: 50,
            top: 10
          },
          legend: {
            position: 'right'
          },
          vAxis: {
            ticks: [0,0.2,0.4,0.6,0.8,1.0]
          }
        }
      );
    }
    </script>

{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <form class="navbar-form navbar-left" action="/admin/" method="get" role="search">
    <div class="form-group">
      <label>Search by URL</label>
      <input type="text" class="form-input" name="q" placeholder="http://..." />
    </div>
    <input type="submit" class="btn btn-default" value="Search" />
  </form>
  <a href="/admin/add/" class="btn btn-default navbar-btn{% if not url %} active{% endif %}"><span class="glyphicon glyphicon-plus"></span> Add</a>
</nav>

<div>
  <h3>Report for url {{variants[0].url }}</h3>
</div>
<hr/>
<div id="reports">
</div>

<form method="GET">
<h4><button type="submit" name="simulate" value="1">Variant conversion simulation rates</button> (slow!)</h4>
<div id="chart_div_simulation"></div>
</form>
{% endblock %}

