{% extends '../page.html' %}

{% block head %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(function() {
         drawChart('chart_div_actions', 'actionjson');
         drawChart('chart_div', 'datajson');
         drawChart('chart_div_selection', 'selectionjson');
    });

    function drawChart(targetElement, dataType) {
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');

      var num_variants = 0;
      var id_to_col = {};
      {% for i in variants %}
      variant = "Variant {{i.id}}";
      data.addColumn('number', variant);
      num_variants++;
      id_to_col.id_{{i.id}} = num_variants; 
      {% endfor %}

      var calls = [];
  
      {% for i in variants %}
        if (dataType === 'selectionjson') {
          calls.push(
            jQuery.getJSON('/admin/'+dataType+'/{% for v in variants %}{{v.id}}-{%endfor%}/{{i.id}}', function(new_data){
              return new_data;
            })
          );
        }
        else {
          calls.push(
             jQuery.getJSON('/admin/'+dataType+'/{{i.id}}', function(new_data){
              return new_data;
            })
          );
        }
      {% endfor %}
      $.when.apply($,calls).done(function() {
       // each call result is sent as arguments[i]
       $(arguments).each(function(multiresponse) {
        var dataToGraph = this[0];
        dataToGraph.forEach(function(row) {
          var create_row = []
          create_row[0] = new Date(row.time);
          for (i=1; i <= num_variants; i++) {
            var key = 'id_' + row.trial
            if (i === id_to_col[key]) {
              create_row[i] = row.y;
            } else {
              create_row[i] = null;
            }
          }
          data.addRow(create_row);
        });
       });
        new google.visualization.LineChart(document.getElementById(targetElement)).draw(data, {
          curveType: "function",
          width: 700, height: 400,
          vAxis: {maxValue: 1,
                  viewWindow:{
                    max:1,
                    min:0
                  }
                 },
          chartArea: {
            width: '70%', 
            height: '80%',
            left: 50,
            top: 10
          },
          legend: {
            position: 'right'
          }
        }
      );
        });


      }
    </script>

{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <form class="navbar-form navbar-left" action="/admin/" method="get" role="search">
    <div class="form-group">
      <label>Search by URL</label>
      <input type="text" class="form-input" name="q" placeholder="http://..." />
    </div>
    <input type="submit" class="btn btn-default" value="Search" />
  </form>
  <a href="/admin/add/" class="btn btn-default navbar-btn{% if not url %} active{% endif %}"><span class="glyphicon glyphicon-plus"></span> Add</a>
</nav>

<div>
  <h3>Report for url {{variants[0].url }}</h3>
</div>
<hr/>

<!--Divs that will hold the viz-->
<h4>Percent of shares that lead to signatures</h4>
<div id="chart_div_actions"></div>

<h4>Percent of shares that lead to clicks/views</h4>
<div id="chart_div"></div>

<h4>Variant selection rates</h4>
<div id="chart_div_selection"></div>

{% endblock %}

