config/config.json
## WARNING: lambda.json needs to stay out of .gitignore
## or it won't be uploaded by claudia
## KEEP IGNORED
#config/lambda.json
## ^^^^ KEEP IGNORED
claudia.json
nginx/htpasswd
*~
#*
*#
.#*
coverage
testdb.sqlite
node_modules/**
npm-debug.log
/.env
local_modules
package-lock.json