{
  "postgresql" : {
    "user": "",
    "pass": "",
    "database": ""
  },
  "oauth": {
    "clientId": "",
    "clientSecret": ""
  },
  "baseUrl": "",
  "port": 80,
  "sessionSecret": "",

  "domain_whitelist": {
    "petitions.moveon.org": {
      "proto": "http"
    }
  }
}
