//{{baseUrl}}
/*  Add the class sharebandit-fb to an <A> tag or 
    something else.
    This will edit in-place the href, or data-href value in-place.
 */
(function() {
  var elts = document.getElementsByClassName('sharebandit-fb');
  var buildShareUrl = function(href) {
    href = href.replace(/^https?:\/\//, '');
    var shref = href.split('?');
    return ('{{baseUrl}}'
            + shref[0]
            + '?abid=' + parseInt(Math.random() * 100000000).toString(16) 
            + '&'
            + (shref[1] || ''));
  };
  var getUrl = function(href) {
    return ('https://www.facebook.com/sharer/sharer.php?u='
            + encodeURIComponent(buildShareUrl(href)));
  };
  
  for (var i=0,l=elts.length; i<l; i++) {
    var e = elts[i];
    if (e.hasAttribute('href')) {
      e.setAttribute('href', getUrl(e.getAttribute('href')));
    } else if (e.hasAttribute('data-href')) {
      e.setAttribute('data-href', getUrl(e.getAttribute('data-href')));
    } else {
      e.setAttribute('href', getUrl(String(document.location)));
    }
  }
  if (window.ShareBandit && ShareBandit.fbURL) {
    ShareBandit.fbURL = buildShareUrl(ShareBandit.fbURL);
  }
})();
