<!DOCTYPE html>
<!--[if IE 8]>     <html class="ie8"> <![endif]-->
<!--[if IE 7]>     <html class="ie7"> <![endif]-->
<!--[if IE 9]>     <html class="ie9"> <![endif]-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ShareBandit</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google-signin-client_id" content="523711024372-j0carp0rkmmthrlkrvi0rqgnri35q83u.apps.googleusercontent.com">
  <link rel="apple-touch-icon" href="//s3.amazonaws.com/s3.moveon.org/images/with_dims/moveon_iphone_icon_57x57.png"/>
  <link rel="shortcut icon" href="//s3.amazonaws.com/s3.moveon.org/favicon.ico" />
  <link href="//s3.amazonaws.com/actionkit.moveon.org/static/stylesheets/site.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
  {% block head %}{% endblock %}
</head>
<body role="document">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"></a>
          <img height="80" src="/img/bandito.png" alt="Share Bandit Logo" />
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% for m in modules %}
          <li><a href="{{m.link}}">{{m.title}}</a></li>
          {% endfor %}
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container" role="main">
  <div class="row">
    {% block content %}{% endblock %}
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="small">
          Sharebandit was created by <a href="http://front.moveon.org/">MoveOn.org</a>
        </p>
      </div>
    </div>
</footer>
<script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>
